<div class="buttonsDiv">
  <button class="btn btn-primary btn-lg" (click)="onStartSort()">Sort</button>
  <button class="btn btn-primary btn-lg" (click)="onGenerateRandomList()">Generate Random</button>
  <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedAlgorithm">
    <option *ngFor="let item of algorithmArray">
      {{item}}
    </option>
</select>
</div>

<div class="columnDisplayDiv">
  <app-value-column *ngFor="let valueColumn of columnList" [valueColumn]="valueColumn">
  </app-value-column>
</div>

